.header {
    position: relative;
    max-width: 1440px;
    height: 800px;
    margin: 0 auto 170px;
    
    &__wrapper {
        width: 1440px;
        height: 120px;
        background: $main-color;
        display: grid;
        grid-template: 58px 58px / 418px 666px 356px;
        row-gap: 4px;
    }
    &__logo {
        grid-column: 1/2;
        grid-row: 1/3;
        padding: 28px 0 0 100px;
    }
    &__contacts {
        display: grid;
        grid-template-columns: 174px 198px 163px;
        padding-top: 34px;
        column-gap: 55px;
    }
    &__place {
        display: grid;
        grid-template-columns: 24px auto;
        column-gap: 5px;
    }
    &__phone {
        display: grid;
        grid-template-columns: 24px auto;
        column-gap: 5px;
    }
    &__email {
        display: grid;
        grid-template-columns: 24px auto;
        column-gap: 5px;
    }
    &__btn {
        grid-column: 3/4;
        grid-row: 1/2;
        padding: 21px 0 0 21px;
    }
    &__nav {
        display: grid;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0 66px 4px 0;
        }
    }
    &__menu {
        list-style-type: none;
        a {
            position: relative;
            color: #FFF9EB;
            cursor: pointer;
            line-height: 1;
            text-decoration: none;
        }
        a:after {
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #FFF9EB;
            content: "";
            transition: width 0.5s ease-out;
        }
        a:hover:after,
        a:focus:after {
            width: 100%;
        }
    }
    &__link > a {
        text-decoration: none;
        color: #FFF9EB;  
    }
}

h1 {
    position: relative;
    margin: 0;
    padding: 39px 0 0 113px;
    &:after {
        content: '';
        position: absolute;
        width: 11px;
        height: 360px;
        top: 71px;
        left: 75px;
        background-color: $main-color;
    }
}

#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    background: url(../../video/hawle.mp4);
    background-size: cover;
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto; 
}

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }